@charset "utf-8";
// @import '~bulma/bulma';
@import 'variables';
@import 'typography';

.margin-xxs {
  margin: 0.25rem;
}
.margin-xs {
  margin: 0.5rem;
}
.margin-sm {
  margin: 0.75rem;
}
.margin-md {
  margin: 1rem;
}
.margin-lg {
  margin: 1.5rem;
}

.as-link {
  background: 0 0;
  border-color: #0000;
  color: $link;

  &:active,
  &:focus {
    outline: 0;
    border: none;
    outline-style: none;
  }
}

@import '~bulma/sass/utilities/all';
@import '~bulma/sass/base/all';
@import '~bulma/sass/components/all';
@import '~bulma/sass/elements/all';
@import '~bulma/sass/grid/all';
@import '~bulma/sass/layout/all';
